<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pagina de Login">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>Página de login</title>
    </head>
    <body>
        <header>
            <h1>Estética Flow</h1>
        </header>
        <main>
            <form class="form-login" id="form-login">
                <label for="email">Email:</label>
                <input class="input-login" type="email" id="email" name="email">
                <label for="password">Senha:</label>
                <input class="input-login" type="password" id="password" name="password">
                <button class="button-enviar" type="submit">Enviar</button>
                <a class="link-recuperar" href="#">Esqueci minha senha</a>
                <p id="mensagem"></p>
            </form>
        </main>
        <footer>
            <p>© 2026 Thiago C Chagas. Todos os direitos reservados.</p>
            <a href="https://github.com/ThiagoCh12">Github</a>
        </footer>

        <script src="../js/scripts.js"></script>
    </body>
</html>